body {
    color:white;
    background-image:url("4178832-pink-shades.jpg");background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

header {
    text-align:center;
    font-family: 'Nova Flat', cursive;
}

header h1 {
    font-family: 'Nova Flat', cursive;
    font-size: 300%;
    margin-top: 0;
}
main > img {
    position: relative;
    left: 1000px;
    width: 15%;
    margin: auto;
    border-radius: 4px;
    box-shadow: 2px 2px 4px #000;
}

.navigation {
    padding: 15px;
    text-align: center;
    padding-left: 0;
}

.navigation > .links {
    list-style: none;
}

.navigation > .links li { 
    display: inline-block;
    margin-right: 15px
 }

 .navigation > .links li > .link {
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    text-shadow: 2px 2px 4px #333;
}

.navigation > .links li > .link:hover {
    text-shadow: 2px 4px 8px #FFF;
}

footer {   
    text-align: center;
    padding: 2px;
    background-color: #000000;
    left: 0px;
    right: 0px;
    bottom: 0px;    
    position: fixed;
}
